node_modules
dist
server/public/images/*
server/public/videos/*
!server/public/videos/.gitkeep
!server/public/components/**/dist
!server/public/images/.gitkeep
server/public/components/*
!server/public/components/.gitkeep
server/public/data/*
!server/public/data/.gitkeep
server/public/projects/*
!server/public/projects/.gitkeep
server/public/dist/*
!server/public/dist/.gitkeep
server/public/studio/*
!server/public/studio/.gitkeep

!server/public/images/.gitkeep
server/dest/*
!server/dest/.gitkeep
package-lock.json
yarn.lock
.DS_STORE
*.log
*.tgz
.idea/
coverage
client/src/mock/data.json
