.mask
  position: absolute
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  animation: show .1s 1 ease-in
  animation-fill-mode: forwards
  .mask-loading
    height: 140px
    margin-top: 35vh

@keyframes show {
  0% {
      background: rgba(255, 255, 255, 0)
  }
  100% {
      background: rgba(255, 255, 255, 0.6)
  }
}