.header
  .header-title
    position: absolute
    left: 45px
    top: 2px
    font-size: 20px
    color: #fff
  .logo
    position: absolute
    left: 45px
    top: 2px
  .project-name-input
    position: absolute
    top: 5px
    left: 170px
    width: 250px
    height 26px
    color: #dedede
    border: 1px solid #5d5d5d
    border-radius: 5px
    padding: 0 0 0 5px
    background: rgba(255, 255, 255, 0)
  .header-tools
    position: absolute
    display: flex
    right: 10px
    top: 5px
    .iconfont:before
      font-size: 16px
      margin: 0 2px 0 0
    .header-tool
      display: flex
      align-items: center
      background: rgba(255, 255, 255, 0)
      color: #dedede
      border: none
      background-image: url(../../assets/images/divide.png)
      background-position: right
      background-repeat: no-repeat
      margin: 0 2px
      padding: 0 8px 0 4px
      font-size: 12px
      &:hover
        color: #ff8800
      &:last-child
        background-image: none