node_modules
/dist
public/images/*
public/videos/*
!public/videos/.gitkeep
!public/components/**/dist
!public/images/.gitkeep
public/components/*
!public/components/.gitkeep
public/data/*
!public/data/.gitkeep
public/projects/*
!public/projects/.gitkeep
public/dist/*
!public/dist/.gitkeep

server/dest/*
!server/dest/.gitkeep
.DS_STORE
*.log
*.tgz
.idea/
coverage
yarn.lock
package-lock.json
config.js