.event-widget
  position: relative
  min-width: 560px
  .event-btns
    display: flex
    padding: 5px 0px
    .event-btn
      color: #dedede
      margin: 0 2px
      font-size: 14px
      border-radius: 3px
      line-height: 21px
      height: 20px
      padding: 0 4px
      cursor: pointer