.toolbar
  position: relative
  display: flex
  flex-direction: column
  width: 30px
  background: #171717
  border-right: 1px solid #000
  border-left: 1px solid #000
  .tool
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 5px 0
    color: #dedede
    border-bottom: 1px solid #000
    cursor: pointer
    &:hover
      color: #ff8800
    .iconfont
      margin: 0 0 2px 0
      &:before
        font-size: 22px
    .tool-name
      font-size: 11px
  .high-light
    color: #ff8800